<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702871066802-kdtc11r1cr0tqgobh4du81ckgue9c6mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702871066802-kdtc11r1cr0tqgobh4du81ckgue9c6mp</string>
	<key>API_KEY</key>
	<string>AIzaSyC-uy639R8O9gDSjH9NbiyxN-6MSsu-l44</string>
	<key>GCM_SENDER_ID</key>
	<string>702871066802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nwaderDelivery</string>
	<key>PROJECT_ID</key>
	<string>nwader-697f7</string>
	<key>STORAGE_BUCKET</key>
	<string>nwader-697f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702871066802:ios:9333d6ad2c2c2ef6bbd1ab</string>
</dict>
</plist>